/**
 * doMenu
 */
.dd {
    font: normal 14px/18px Lato, Helvetica, Lao Ui, Arial, sans-serif;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    list-style: none;
    font-size: 13px;
    line-height: 20px;
}

.dd-edit-box input,
.dd-edit-box select,
.dd-edit-box textarea {
    border: none;
    background: transparent;
    text-overflow: ellipsis;
    outline: none;
    font-size: 13px;
    width: 45%;
    color: #00DDFD;
}

.dd-edit-box {position: relative;}

.dd-edit-box i {
    right: 0;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
}

.dd-item-blueprint {display: none;}

.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dd-list .dd-list {padding-left: 40px;}

.dd-collapsed .dd-list {display: none;}

.dd-item,
.dd-empty,
.dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px;
}

.dd-handle {
    display: block;
    padding: 5px 16px;
    text-decoration: none;
    box-sizing: border-box;
    background-color: rgb(0, 221, 253);
}

.dd-handle:hover {
    color: #2ea8e5;
}

.dd-item > button {
    position: relative;
    cursor: pointer;
    float: left;
    width: 24px;
    height: 20px;
    margin: 5px 5px 5px 43px;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 12px;
    text-align: center;
    color: white;
    line-height: 27px;
    outline: none;
}

/* @since > 0.13.29 */
.dd-item .item-remove,
.dd-item .item-remove-confirm,
.dd-item .item-add {
    outline: none;
}

.dd-item .dd-button-container button {
background-color: transparent;border: none;cursor: pointer;line-height: 26px;}

.dd-item .dd-button-container .item-add {
    color: #FFFFFF;
}

.dd-item .dd-button-container .item-add:active {

box-shadow: inset 0 1px 3px #376F9C;
}

.dd-item .dd-button-container .item-remove {
    background-color: #FF5555;
    border-color: #A54B4B;
    color: #5A1111;
    text-shadow: 0 1px 0 #FFC0C0;
    box-shadow: inset 0 1px 0 #FFC0C0;
    transition: background-color 0.35s;
}
.dd-item .dd-button-container .item-remove:active {
    
box-shadow: inset 0 1px 5px #A54B4B;
}

.dd-item .dd-button-container .item-remove-confirm {
    
background-color: #FFA155;
    
transition: background-color 0.35s;
    
border-color: #AD7232;
}
.dd-item .dd-button-container .item-remove-confirm:active {
    
}

.item-remove-confirm {
    background: #ffce66;
}

.dd-item .dd-button-container {
    position: absolute;
    height: 18px;
    padding: 0 5px;
    top: 4px;
    overflow: visible;
    display: none;
    right: 0;
}



/* end @since > 0.13.29 */

.dd3-item > button:first-child {margin-left: 30px;}

.dd-item > button:before {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
}

.dd-placeholder,
.dd-empty {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel {
    height: 60px;
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.dd-dragel > .dd-item .dd-handle {margin-top: 0;}

.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
    box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

/**
 * doMenu Draggable Handles
 */
.dd3-content {
    display: block;
    height: 37px;
    margin: 5px 0;
    padding: 8px 10px 5px 50px;
    color: #D5FAFF;
    text-decoration: none;
    box-sizing: border-box;
    background-color: #01262D;
    text-shadow: 0 1px 0 #000;
}

.dd3-content:hover {
    background: 
    
    
    
    -moz-linear-gradient(top, #E5E5E5 10%, #FFFFFF 100%);
}

.dd-dragel > .dd3-item > .dd3-content {margin: 0;}

.dd3-handle {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    cursor: move;
    width: 40px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 37px;
    line-height: 31px;
}

.dd3-handle:before {
    content: '\2263';
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
    width: 100%;
    text-align: center;
    text-indent: 0;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
}

.dd3-handle:hover {
}

.dd3-content:hover .dd-button-container {
    display: block;
    transition: display 2s;
}

.dd-edit-box input:focus,  .dd-edit-box textarea:focus {
    border-bottom: 1px solid #00DDFD;
}

.dd-edit-box select:focus {
    border-top: 1px solid #00DDFD;
}

.dd-edit-box select option {
color: #00DDFD;background-color: #01262D;}

.dd-edit-box select optgroup {
    color: #00DDFD;
    background-color: #01262D;
}

.dd-edit-box *::selection {
    background-color: transparent;
    color:red;
}

#domenu-add-item-btn {
    background-color: #00DDFD;
    border: none;
    padding: 10px 16px;
    color: #01262D;
    text-shadow: 0 1px 0 #A5F1FF;
    cursor: pointer;
    outline: none;
}